aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/
Makefile
Makefile.in
missing
src/.deps/
src/libmhttpd.la
src/.libs/
src/Makefile
src/Makefile.in
src/mhttpd.lo
src/mhttpd.o
stamp-h1
